

#navbar{
    background-color: black;
    display: flex;
    
    
}


    
.logo{
    color: rgb(191, 3, 103);
    font-size: 50px;
    padding-top: 15px;
    width: 50%;


}

.navi{
    padding-top: 30px;
}

.navi a{
    display: inline;
    padding: 26px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(191, 3, 103);


    
}

.navi a:hover{
    color: azure;
}

@media only screen and (max-width: 600px) {
    #navbar {
        flex-direction: column;
        align-items: right;
    }

    .logo {
        width: 100%;
    }

    .navi {
        padding-top: 15px;
    }

    .navi a {
        display: block;
        padding: 10px 0;
        text-align: center;
        font-size: 18px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .logo {
        font-size: 40px;
        width: 100%;
    }

    .navi {
        padding-top: 15px;
    }

    .navi a {
        display: block;
        padding: 20px;
        text-align: right;
        font-size: 20px;
    }
}


@media only screen and (min-width: 901px) and (max-width: 1199px) {
    .logo {
        font-size: 40px;
        width: 50%;
    }

    .navi {
        padding-top: 20px;
    }

    .navi a {
        padding: 25px;
        font-size: 25px;
        text-align: right;
    }
}


form{
    padding-top: 50px;
    width: 50vw;
    border: 5px solid rgb(245, 246, 248);
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 30vh;
    height: 50vh;
    background-color: rgb(245, 246, 248);
    box-shadow: 1000px;
    border-style:double;
    padding-left: 8%;
}



form input{
    width: 30vw;
    height: 5vh;
    padding-left: 2%;
}

textarea{
    padding-top: 5%;
    padding-left: 2%;
}


.img{
    width: 150px;
    height: 150px;
}




label{
     font-size: xx-large;
     color: rgb(191, 3, 103);
     padding-left: 5px;
     

    
}

button{
    background-color:  rgb(191, 3, 103);
    color:azure;
    border-color:  rgb(191, 3, 103);
    width: 5vw;
}

footer{
    background-color: lightgrey;
    padding: 10px 5%;
   
}

footer p{
    font-size: xx-large;
    text-align: center;
    color:rgb(191, 3, 103);
    font-family:'Times New Roman', Times, serif;

    
}