body{
    background-color: rgba(172, 174, 174, 0.459);
}
nav{
    display: flex;
    background-color: black;
    text-align: right;
    padding: 20px;
    justify-content: space-between
}

.navi{
    float: right;
    text-align: right;
    margin-right: 0px;
    width: 80%;
    padding: 25px;

}

.logo{
    display: inline-flex;
    color: rgb(191, 3, 103);;
    text-align: justify;
    font-size:xx-large;

}


nav a{
    font-size: x-large;
    text-align: right;
    text-decoration: none;
    color: rgb(191, 3, 103);
    padding: 10px 10px;
    margin: 15px 15px;
}

nav a:hover{
    color: azure;
}



form{
    padding-top: 50px;
    width: 60%;
    border: 5px solid rgb(245, 246, 248);
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 30vh;
    height: 60vh;
    background-color: rgb(245, 246, 248);
    box-shadow: 1000px;
    border-style:double;
    padding-left: 10%;
}



form input{
    width: 70%;
    height: 10%;
    padding-left: 10px;
}

form textarea{
    padding-top: 6%;
    padding-left: 2%;
}



.tit{
    width: 100px;
    height: 100px;
}

.img{
    width: 150px;
    height: 150px;
}




label{
     font-size: x-large;
     color: rgb(191, 3, 103);
     padding-left: 5px;
     

    
}

button{
    background-color:  rgb(191, 3, 103);
    color:azure;
    border-color:  rgb(191, 3, 103);
    width: 70px;
}

#footer{
    background-color: lightgrey;
    height: 10%;
    
}

#footer p{
    padding-left: 40%;
    font-size: x-large;
    margin: auto;
    padding-top: 1%;
    color:rgb(191, 3, 103);
    font-family:'Times New Roman', Times, serif;

    
}