body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div{
    margin: 0;
}

nav{
    display: flex;
    background-color: black;
    text-align: right;
    padding: 20px;
    justify-content: space-between;
    width: 200vh;
    position: fixed;
}

.navi{
    float: right;
    text-align: right;
    padding: 25px;

}

.logo{
    display: inline-flex;
    color: rgb(191, 3, 103);;
    text-align: justify;
    font-size:xx-large;

}


nav a{
    font-size: x-large;
    text-align: right;
    text-decoration: none;
    color: rgb(191, 3, 103);;
    padding: 10px 10px;
    margin: 15px 15px;
}

nav a:hover{
    color: azure;
}

#home{
    background-image:url( https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1812&q=80;);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    padding-right: 350px;
}



.intro p{ 
    color: white;
    font-size: xx-large;
    text-align: justify;
    margin: 50%;
    
}


.intro {
    opacity: 1;
    animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 1;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



#about {
    background-color: white;
    height: 100vh;
    padding-left: 15px;
    display: flex;
    

    
}

.aboutme{
    width: 50%;

}

 h2{
    color: rgb(191, 3, 103);
    text-align: left ;
    font-size: xx-large;
    
 }

 p{
    width: 500px;
    color: black;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: medium;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: justify; 
}

.aboutimage{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}

.img{
    float: right;
    border-radius: 50%;
    width: 300px;
    margin-right: 200px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px ;

}


#contact{
    background-color: whitesmoke;
    height: 160vh;
    width: 207vh;
    display: flex;

    
}

.mycontact{
    padding-left: 15px;
}



#contact h4{
    color: rgb(191, 3, 103);;
    font-size: x-large;
    text-align: justify;
    
}

#contact p{
    color: black;
    padding-top: 10px;
    text-align: justify;
    width: 100vh;

}

.message{
    
    width: 100vh;
    padding-top: 10%;
    padding-left:10%;
}

.message h5{
    font-size: x-large;
    color: rgb(191, 3, 103);;
}


input{
    border-radius: 10px solid white;
    width: 300px;
    height: 25px;
}

form input#text1{
    height: 60px;
}

#send{
    border-radius: 30px ;
    width:300px ;
    height: 25px ;
    background-color:rgb(191, 3, 103);
    border-color: rgb(191, 3, 103);
    color: azure;
}

button:hover{
    background-color: transparent;

}

form input#name#email{
    display: flex;
    justify-content: space-between;
}

.icons{
    font-size: medium;
    position: absolute;

}



.icons p{
    padding-left: 50px;
}

i{
    font-size: xx-large;
    color: rgb(191, 3, 103);

}





#skills{
    height: 100vh;
    background-image: url(https://e0.pxfuel.com/wallpapers/149/259/desktop-wallpaper-web-development.jpg);

}

#skills h1{
    text-align: center;
    padding-top: 3%;
    color: rgb(250, 110, 180) ;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding:15% 10%;
    
  }

  .child {
    height: 4vh; 
    text-align: center; 
   
    background-color:white;
    margin: 5px;



  }

.child div{
    background-color: rgb(168, 47, 112);
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }

.child div h5{
    font-size: 15px;
    color: azure;
    font-family:Arial, Helvetica, sans-serif;
}



#footer{
    background-color: lightgrey;
    height: 10%;
    
}

#footer p{
    padding-left: 30%;
    font-size: x-large;
    margin: auto;
    padding-top: 1%;
    color:rgb(191, 3, 103);
    font-family:'Times New Roman', Times, serif;

    
}














