
#navbar{
    background-color: black;
    display: flex;
    
    
}


    
.logo{
    color: rgb(191, 3, 103);
    font-size: 50px;
    padding-top: 15px;
    width: 50%;


}

.navi{
    padding-top: 30px;
}

.navi a{
    display: inline;
    padding: 25px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(191, 3, 103);


    
}

.navi a:hover{
    color: azure;
}

@media only screen and (max-width: 600px) {
    #navbar {
        flex-direction: column;
        align-items: right;
    }

    .logo {
        width: 100%;
    }

    .navi {
        padding-top: 15px;
    }

    .navi a {
        display: block;
        padding: 10px 0;
        text-align: center;
        font-size: 18px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .logo {
        font-size: 40px;
        width: 100%;
    }

    .navi {
        padding-top: 15px;
    }

    .navi a {
        display: block;
        padding: 20px;
        text-align: right;
        font-size: 20px;
    }
}


@media only screen and (min-width: 901px) and (max-width: 1199px) {
    .logo {
        font-size: 40px;
        width: 50%;
    }

    .navi {
        padding-top: 20px;
    }

    .navi a {
        padding: 25px;
        font-size: 25px;
        text-align: right;
    }
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(172, 174, 174, 0.459);
    width: 100vw;

    
}


#header{
    text-align: right;
    


}

#header button{
    color: azure;
    font-size: x-large;
    border-color:rgb(191, 3, 103);
    
}

#header button a{
    text-decoration: none;
    color:azure
}




.firstrow{
    display: flex;
    text-align: center;
    padding-left: 15%;
    padding-top: 10%;

}

h2{
    font-size: medium;
    color: rgb(191, 3, 103);
}

.card{
    width: 20vw;
    height: 30vh;
    text-align: center;
    background-color: #ffffffd0;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 20px;
    padding-bottom: 30px;
    box-shadow: 1000px;
    
    

}

.img{
    border: solid black;
    margin: auto;
    
   
}

.card p{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}


.secondrow{
    display: flex;
    text-align: center;
    padding-left: 15%;


}

button{
    background-color: rgb(191, 3, 103);
    color: azure;
    border-color:rgb(191, 3, 103) ;

}

footer{
    background-color: lightgrey;
    padding: 10px 5%;
   
}

footer p{
    font-size: xx-large;
    text-align: center;
    color:rgb(191, 3, 103);
    font-family:'Times New Roman', Times, serif;

    
}
