#fisrtdiv{
    position: absolute;

}


#navbar{
    background-color: black;
    display: flex;
    width: 100vw;
    
    
}


.navi{
    width: 50vw;
    padding-top:  5%;


}

.logo{
    color: rgb(191, 3, 103);
    font-size: 50px;
    width: 50vw;
    padding: 5%;

}


nav a{
    font-size: x-large;
    text-decoration: none;
    color: rgb(191, 3, 103);
    margin-right: 10%;
}

nav a:hover{
    color: azure;
}



#home{
    height: 100vh;
    display: flex;
    width: 100vw;
}

#home{
    background-image:url( https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1812&q=80;);
    background-size: cover;

}

#home p{ 
    color: white;
    font-size: xx-large;
    text-align: justify;
    padding-left: 15%;
    padding-top: 15%;
}

#home p{
    opacity: 1;
    animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 1;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




#about {
    background-color: white;
    height: 100vh;
    padding-left: 15px;
    display: flex;
    width: 100vw;

    
}

.aboutme{
    width: 50vw;


}

 h2{
    color: rgb(191, 3, 103);
    font-size: xx-large;
    
 }

 p{
    color: black;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: x-large;
    letter-spacing: 1px;
    line-height: 2;
    text-align: justify; 
}

.aboutimage{
    width: 50vw;

}

.img{
    float: right;
    border-radius: 50%;
    width: 500px;
    margin-top: 200px;
    margin-right: 210px;
    

}


#contact{
    background-color: whitesmoke;
    height: 160vh;
    width: 100vw;
    display: flex;

    
}

.mycontact{
    padding-left: 15px;
}



#contact h4{
    color: rgb(191, 3, 103);;
    font-size: x-large;
    text-align: justify;
    
}

#contact p{
    color: black;
    padding-top: 10px;
    text-align: justify;
    width: 100vh;

}

.message{
    
    width: 100vh;
    padding-top: 10%;
    padding-left:10%;
}

.message h5{
    font-size: x-large;
    color: rgb(191, 3, 103);;
}


input{
    border-radius: 10px solid white;
    width: 300px;
    height: 25px;
}

form input#text1{
    height: 60px;
}

#send{
    border-radius: 30px ;
    width:300px ;
    height: 25px ;
    background-color:rgb(191, 3, 103);
    border-color: rgb(191, 3, 103);
    color: azure;
}

button:hover{
    background-color: transparent;

}

form input#name#email{
    display: flex;
    justify-content: space-between;
}

.icons{
    font-size: medium;
    position: absolute;

}



.icons p{
    padding-left: 50px;
}

i{
    font-size: xx-large;
    color: rgb(191, 3, 103);

}





#skills{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url(https://e0.pxfuel.com/wallpapers/149/259/desktop-wallpaper-web-development.jpg);

}

h1{
    padding-top: 3%;
    color: rgb(250, 110, 180) ;

}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding:15% 10%;
    
  }

  .child {
    height: 4vh; 
    width: 30vw;
    /* text-align: center;  */
   
    background-color:white;
    margin: 5px;



  }

.child div{
    background-color: rgb(168, 47, 112);
    width: 80vw;
    height: 4vh;
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }

.child div h5{
    font-size: 15px;
    color: azure;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



#footer{
    background-color: lightgrey;
    height: 10vh;
    width: 100vw;
    display: flex;
}

#footer p{
    font-size: x-large;
    padding-left: 45%;
    color:rgb(191, 3, 103);
    font-family:'Times New Roman', Times, serif;

    
}














